body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #6200ea;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0px;
}
h1 i {
  margin-right: 15px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

section h2 {
  margin-top: 0;
  color: #6200ea;
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 95%;
  margin-top: 10px;
  
}

#bookFormSubmit i {
  margin-right: 10px; /
}

button:hover {
  background-color: #3700b3;
}

#incompleteBookList,
#completeBookList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

[data-testid="bookItem"] {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-testid="bookItem"] h3 {
  margin: 0 0 10px;
  color: #333;
}

[data-testid="bookItem"] p {
  margin: 5px 0;
  color: #666;
}

[data-testid="bookItem"] div {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

[data-testid="bookItem"] button {
  flex: 1;
  background-color: #03dac5;
  color: #fff;
  font-size: 0.9em;
}

[data-testid="bookItem"] button:hover {
  background-color: #018786;
}

  input[type="checkbox"] {
    width: auto; 
    margin-right: 10px; 
    margin-bottom: 10px;
  }
  
